extends layout

form(action='/quotes' method='POST')
  input(type='text' placeholder='name' name='name')
  input(type='text' placeholder='quote' name='quote')
  button(type='submit') Submit

block content
  h1= title
  p Welcome to #{title}
